<div class="py-4 bg-gray-200">
  <div
    class="max-w-[1200px] px-6 mx-auto flex justify-between items-center flex-wrap gap-3"
  >
    <h3 class="text-sm mobile:text-lg font-semibold text-blue-600">
      Primed E-Health Task
    </h3>

    <ul class="flex items-center space-x-3 text-xs mobile:text-base">
      <li>
        <a
          class="cursor-pointer py-1 hover:font-medium"
          routerLink="/dashboard"
          routerLinkActive="text-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          >Dashboard
        </a>
      </li>

      <li>
        <a
          class="cursor-pointer py-1 hover:font-medium"
          routerLink="/users"
          routerLinkActive="text-blue-600"
          [routerLinkActiveOptions]="{ exact: true }"
          >User management
        </a>
      </li>
    </ul>
  </div>
</div>
